*{
    box-sizing: border-box;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

